/usage/
/wp-admin/
/wp-includes/

/wp-content/cache
/wp-content/languages
/wp-content/upgrade
/wp-content/uploads
/wp-content/w3tc-config
/wp-content/wflogs
/wp-content/wpdm-assets
/wp-content/wpo-cache
/wp-content/index.php
/wp-content/awin
/wp-content/plugins/

/wp-content/themes/index.php
/wp-content/themes
!/wp-content/themes/bootstrap_v5

/.htaccess
/_.htaccess
/.htpasswd
/ads.txt
/googlecf2fd4f19b03db3e.html
/index.html
/index.htm
/index.php
/.user.ini
/license.txt
/liesmich.txt
/readme.html
/robots.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/liesmich.html
/wp-config-sample.php
/wp-cron.php

/.idea/
.DS_Store